.form_text {
    color: red
}

.img {
    width: 100%;
}

.text_color {
    color: #12406F
}

.text_size {
    color: #000;
    font-size: 14px;
}

input {
    padding: 10px;
    border-radius: 10px;

}

.gap {
    gap:20px
}
.w_full{ 
    width: 100%;
}