* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
}

.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.grid {
  display: grid;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex_col {
  flex-direction: column;
}

.flex_row {
  flex-direction: row;
}

.text-center {
  text-align: center;

}

.text-left {
  text-align: left;
}